# Loading "Sparse" Parquet
Example of loading the parquet files in Python that were generated from sparse arff files:

In [1]:
import pandas

In [2]:
df = pandas.read_parquet("dense_pandas.pq")
print(df.dtypes[:3])
df.head()

molecule_id    category
P_VSA_e_3       float32
C.039           float32
dtype: object

,molecule_id,P_VSA_e_3,C.039,N.075,NaaN,SsssCH,nN,C.008,SdO,H.051,...,SpDiam_EA.ri.,MATS4i,MATS4p,MATS7v,BIC1,P_VSA_MR_5,MATS7i,nCbH,ATSC7m,pXC50
0,CHEMBL1077386,123.000000,NaN,4.0,4.0,0.470,5.0,0.0,0.0,0.0,...,4.820,0.119,0.293,-0.208,0.621,68.375999,-0.247,0.0,11.935,7.620
1,NaN,83.682999,0.0,4.0,4.0,0.000,5.0,0.0,0.0,0.0,...,4.809,-0.090,-0.054,-0.315,0.559,55.181000,-0.165,0.0,3.975,6.886
2,CHEMBL1077405,97.956001,0.0,3.0,3.0,0.396,5.0,0.0,0.0,0.0,...,4.939,0.047,0.279,-0.244,0.645,90.388000,-0.220,3.0,14.257,8.310
3,CHEMBL1077446,83.682999,0.0,4.0,4.0,0.000,5.0,0.0,0.0,0.0,...,4.812,-0.329,-0.128,-0.247,0.615,46.132999,-0.026,0.0,4.538,8.102
4,CHEMBL1078559,114.741997,0.0,4.0,4.0,0.000,6.0,0.0,0.0,0.0,...,4.835,-0.281,-0.106,-0.190,0.671,70.902000,0.079,0.0,4.347,7.409

In [3]:
df = pandas.read_parquet("dense_pyarrow.pq")
print(df.dtypes[:3])
df.head()

molecule_id    category
P_VSA_e_3       float32
C.039           float32
dtype: object

,molecule_id,P_VSA_e_3,C.039,N.075,NaaN,SsssCH,nN,C.008,SdO,H.051,...,SpDiam_EA.ri.,MATS4i,MATS4p,MATS7v,BIC1,P_VSA_MR_5,MATS7i,nCbH,ATSC7m,pXC50
0,CHEMBL1077386,123.000000,NaN,4.0,4.0,0.470,5.0,0.0,0.0,0.0,...,4.820,0.119,0.293,-0.208,0.621,68.375999,-0.247,0.0,11.935,7.620
1,NaN,83.682999,0.0,4.0,4.0,0.000,5.0,0.0,0.0,0.0,...,4.809,-0.090,-0.054,-0.315,0.559,55.181000,-0.165,0.0,3.975,6.886
2,CHEMBL1077405,97.956001,0.0,3.0,3.0,0.396,5.0,0.0,0.0,0.0,...,4.939,0.047,0.279,-0.244,0.645,90.388000,-0.220,3.0,14.257,8.310
3,CHEMBL1077446,83.682999,0.0,4.0,4.0,0.000,5.0,0.0,0.0,0.0,...,4.812,-0.329,-0.128,-0.247,0.615,46.132999,-0.026,0.0,4.538,8.102
4,CHEMBL1078559,114.741997,0.0,4.0,4.0,0.000,6.0,0.0,0.0,0.0,...,4.835,-0.281,-0.106,-0.190,0.671,70.902000,0.079,0.0,4.347,7.409

In [4]:
df = pandas.read_parquet("masked_pyarrow.pq")
print(df.dtypes[:3])
df.head()

molecule_id    category
P_VSA_e_3       float32
C.039           float32
dtype: object

,molecule_id,P_VSA_e_3,C.039,N.075,NaaN,SsssCH,nN,C.008,SdO,H.051,...,SpDiam_EA.ri.,MATS4i,MATS4p,MATS7v,BIC1,P_VSA_MR_5,MATS7i,nCbH,ATSC7m,pXC50
0,CHEMBL1077386,123.000000,NaN,4.0,4.0,0.470,5.0,NaN,NaN,NaN,...,4.820,0.119,0.293,-0.208,0.621,68.375999,-0.247,NaN,11.935,7.620
1,NaN,83.682999,NaN,4.0,4.0,NaN,5.0,NaN,NaN,NaN,...,4.809,-0.090,-0.054,-0.315,0.559,55.181000,-0.165,NaN,3.975,6.886
2,CHEMBL1077405,97.956001,NaN,3.0,3.0,0.396,5.0,NaN,NaN,NaN,...,4.939,0.047,0.279,-0.244,0.645,90.388000,-0.220,3.0,14.257,8.310
3,CHEMBL1077446,83.682999,NaN,4.0,4.0,NaN,5.0,NaN,NaN,NaN,...,4.812,-0.329,-0.128,-0.247,0.615,46.132999,-0.026,NaN,4.538,8.102
4,CHEMBL1078559,114.741997,NaN,4.0,4.0,NaN,6.0,NaN,NaN,NaN,...,4.835,-0.281,-0.106,-0.190,0.671,70.902000,0.079,NaN,4.347,7.409